*{
    box-sizing: border-box;
}
body{
    background-color: #fafafa;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    justify-content: center;
    height: 100vh;
}

.magic{
    background-color: orangered;
    color: #fff;
    border: 0;
    border-radius: 4px;
    padding: 12px 20px;
    cursor: pointer;
    position: fixed;
    top: 20px;
    letter-spacing: 2px;
    box-shadow: 0 3px rgba(248, 202, 36, 0.5);
    z-index: 100;
}

.magic:focus{
    outline: none;
}

.magic:active{
    box-shadow: none;
    transform: translate(2px);
}

/* box styles */

.boxes{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 500px;
    width: 500px;
    position: relative;
    transition: 0.4s ease;

}

.boxes.big{
    width: 600px;
    height: 600px;
}

.boxes.big .box{
    transform: rotateZ(360deg);
}

/* individual box  */

.box{
    /* background-image: linear-gradient( to top left, gold orangered, green); */
    background-image: url('https://picsum.photos/1200/500');
    background-repeat: no-repeat;
    background-size: 500px 500px;
    position: relative;
    height: 125px;
    width: 125px;
    transition: 0.5s ease;
}

/* 3d.box  */

.box::after{
    content: '';
    background-color: #f6e58d;
    position: absolute;
    top: 8px;
    right: -15px;
    height:100%;
    width: 15px;
    transform:  skewY(45deg);
}

.box::before {
    content: '';
    background-color: #f9ca24;
    position: absolute;
    bottom: -15px;
    left: 8px;
    height: 15px;
    width: 100%;
    transform: skewX(45deg);
}